<% if new_object.errors %>
  <% new_object.errors.full_messages.each do |error| %>
    <div class="ui error form segment">
      <div class="ui error message">
        <div class="header">Error Message(s)</div>
        <p><%= error %></p>
      </div>
    </div>
  <% end %>
<% end %>
