<div class='ui form'>
  <%= form_for discussion, :html => {class: 'ui input focus'} do |f| %>
    <%= f.hidden_field :category_id, value: cat_id %>
    <%= f.text_field :title, placeholder: 'Thread Title' %>
    <%= f.submit 'Create Thread' %>
  <% end %>
</div>
